    p.center {
        text-align: center;
    }
    
    body {
        background-color: rgba(225, 224, 206, 0.779);
        color: black;
    }
    
    img {
        color: black;
        max-width: 640px;
        transform: translateY(0px);
        animation: float 30s ease-in-out infinite;
    }
    
    @keyframes float {
        0% {
            transform: translatex(0px);
        }
        50% {
            transform: translatex(1070px);
        }
        100% {
            transform: translatex(0px);
        }
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    /* Para selecionar uma tag usa-se o asterisco - * */
    
    #titulo {
        font-family: sans-serif;
        color: rgb(28, 124, 28);
        margin-left: 2, .0%;
    }
    
    fieldset {
        border: 40;
        margin-left: 0.1em;
        margin-right: auto;
    }
    
    body {
        background-color: rgba(216, 223, 193, 0.533);
        font-size: 1em;
        margin-left: 2%;
        margin-top: 2%;
        color: black;
        justify-content: center;
    }
    
    input {
        border-color: rgb(7, 130, 130);
    }
    
    button {
        border-radius: 1px;
        margin-left: 0.2em;
        margin-bottom: 25px;
        box-shadow: 0.5px 0.5px 0.5px;
    }
    /* Para selecionar uma classe usa-se o ponto - .*/
    
    .campoconsulta {
        margin-bottom: 1em;
        ;
    }
    
    .campoconsulta label {
        margin-bottom: 4.0em;
    }
    
    select,
    textarea {
        border-radius: 5px;
        margin-top: 1em;
        margin-left: 0.4em;
        box-sizing: content-box;
    }
    
    fieldset.campoconsulta {
        float: left;
        margin-right: 1em;
    }
    
    button:hover {
        background-color: rgba(216, 223, 193, 0.533);
    }