p.center {
    text-align: center;
}

body {
    background-color: rgba(233, 231, 172, 0.779);
    color: black;
}

img {
    color: black;
    max-width: 640px;
    transform: translateY(0px);
    animation: float 30s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatex(0px);
    }
    50% {
        transform: translatex(1070px);
    }
    100% {
        transform: translatex(0px);
    }
}